body {
    --detail-bar-height: 44px;
    --left-bar-width: 260px;
    --border-padding: 8px;
    --double-border-padding: 16px;
    --queue-bar-list: 180px;
    --queue-bar-width: 230px;
    --detail-bar-allheight:60px;
    --lesser-padding:5px;
    --rounding: 12px;
    --main-bg: black;
    background:black;
    color:white;
    border-color:white !important;
    overflow:hidden;
}

svg path {
    fill:white;
}

#resBar {
    position:absolute;
    top:0px;
    right:0px;
    left:var(--left-bar-width);
    border:1px solid;
    padding:var(--border-padding);
    height:var(--detail-bar-height);
    border-top:none;
    border-right:none;
    border-bottom-left-radius: var(--rounding);
    margin-left:var(--border-padding);
}

.bbElement {
    margin-left:3px;
    margin-right:3px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border:1px solid;
    border-bottom:0px;
    font-size:16pt;
    text-align:center;
    vertical-align:middle;
    padding-left:10px;
    padding-right:10px;
    height:100%;
    width:100px;
    /*position:relative;*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}
.bbRight {
    float:right;
}
.bbElementSub {
    /*position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
*/}
.bbLowerBar {
    position:absolute;
    left:0px;
    right:0px;
    bottom:0px;
    height:14px;
    background-color: white;
    z-index:-1;
}

.ubResource {
    display:inline-block;
    padding-left:var(--border-padding);
    padding-right:var(--border-padding);
    text-align:center;
    vertical-align: middle;
}

.ubResourceValue {

}

.ubResourceDelta {
    font-size: 11px;
    color:lightgrey;
}

.good {
    color:lime;
}
.neutral {
    color:yellow;
}
.bad {
    color:red;
}

#bbRightmost {
    float:right;
}
.Container {
    position:relative;
    min-width:100%;
    min-height:100%;
    left:0;
    right:0;
    bottom:0;
    top:0;
    vertical-align:top;
}

#viewBar {
    position:absolute;
    bottom:0px;
    right:0px;
    left:var(--left-bar-width);
    /*border:1px solid;
    border-left:none;
    border-bottom:none;
    border-right:none;*/
    padding:var(--border-padding);
    padding-bottom:0;
    height:var(--detail-bar-height);
}

#canvasContainer {
    position:absolute;
    right:0px;
    left:var(--left-bar-width);
    overflow:hidden;
    top:var(--detail-bar-allheight);
    bottom:10px;
}

.queue {

    width:var(--queue-bar-width);
    z-index:1;
}

#queueList {
    position:absolute;
    padding:var(--border-padding);
    right:0px;
    top:var(--detail-bar-allheight);
    min-width:var(--queue-bar-width);
    margin-right:22px;
}

.queueRightBar {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    width:10px;
    overflow:hidden;
    background-color:white;
    border-radius: var(--border-padding);
    border-top-right-radius:0;
    border-bottom-right-radius:0;
    text-orientation: upright;
    color:black;
    text-align:right;
    padding-right:5px;
    line-height:12px;
    font-size:11px;
    font-family:monospace;
    font-weight:bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left:5px;
}

.queueElement {
    border:1px solid;
    border-radius: var(--border-padding);
    border-top-left-radius:0;
    border-bottom-left-radius:0;
    padding:var(--lesser-padding);
    margin:var(--border-padding);
    margin-bottom:0px;
    position:relative;
    left:22px;
    right:10px;
}
.queueBreak {
    min-width:20px;
    height:6px;
}
.queueETA {
    font-size:11px;
    font-family:monospace;
    color:lightgrey;
}
.queueCompletion {
    font-family:monospace;
    height:100%;
    font-size:14pt;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    padding-right:var(--border-padding);
}
.queueProgressBar {
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    z-index:-1;
    background:grey;
}

#detBar {
    position:absolute;
    left:0px;
    top:0px;
    bottom:0px;
    width:var(--left-bar-width);
    /*border:1px solid;
    border-left:none;
    border-top:none;
    border-bottom:none;*/
}

#detTitle {
    border:1px solid;
    border-top:none;
    border-left:none;
    margin:var(--border-padding);
    margin-top:0;
    margin-left:0;
    text-align:center;
    vertical-align:middle;
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:var(--detail-bar-allheight);
    border-bottom-right-radius:var(--rounding);
    z-index:1;
    background:var(--main-bg);
}

#detDetail {
    border:1px solid;
    border-left:0;
    position:absolute;
    margin:var(--border-padding);
    margin-top:var(--double-border-padding);
    margin-left:0;
    text-align:center;
    vertical-align:middle;
    top:var(--detail-bar-allheight);
    bottom:30%;
    left:0;
    right:0;
    border-top-right-radius:var(--rounding);
    border-bottom-right-radius:var(--rounding);
    z-index:1;
    background:var(--main-bg);
}

#detNews {
    border:1px solid;
    border-left:none;
    border-bottom:none;
    position:absolute;
    margin:var(--border-padding);
    margin-left:0;
    margin-bottom:0;
    text-align:center;
    vertical-align:middle;
    top:70%;
    bottom:0;
    left:0;
    right:0;
    border-top-right-radius:var(--rounding);
    z-index:1;
    background:var(--main-bg);
}

#sView {
    border:1px solid;
    position:absolute;
    margin:var(--border-padding);
    margin-bottom:0;
    text-align:center;
    vertical-align:middle;
    right:0;
    bottom:var(--detail-bar-allheight);
    right:var(--double-border-padding);
    width:20%;
    height:40%;
    min-width:600px;
    min-height:500px;
    max-width:800px;
    max-height:600px;
    border-radius:var(--rounding);
}


.tint {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: all .3s linear;
}

.tint:hover:before { background: none; }
